.navbar {
    backdrop-filter: blur(2px);
    background-color:rgba(0, 0, 0, 0.5);
}

.navbar .navbar-brand {
    color: rgb(228, 55, 55);
    font-weight: bold;
}

.navbar .nav-item .nav-link{
    color: rgb(228, 55, 55);
}